 

<section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>OUR TEAM</h2>
                        <p class="text-muted">Meet the team</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/images/sree.jpg" width=250px>
                                    <h3>SREEHARI K V</h3>
                                    <p class="text-muted">FOUNDER & CEO</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/images/p.jpg" width=250px>
                                    <h3>PAUL P SABU</h3>
                                    <p class="text-muted">CO-FOUNDER</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                   <img src="/images/so.jpg" width=250px>
                                    <h3>SONIYA JHONY</h3>
                                    <p class="text-muted">CO-FOUNDER</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/images/balan.jpg" width=250px>
                                    <h3>SOORAJ BALAN</h3>
                                    <p class="text-muted">CO-FOUNDER</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/images/vc.jpg" width=250px>
                                    <h3>VISHNU C</h3>
                                    <p class="text-muted">CO-FOUNDER</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
